#Project {
    .v-form {
        width: 100%;
        height: 100%;
    }

    .picture {
        $card_size: 25rem;
        $card_radius: 0.5rem;
        $space: 1.8rem;

        display: flex;
        align-items: center;
        justify-content: center;

        height: $card_size;
        width: $card_size;
        border-radius: $card_radius;

        --gradientAngle: 45deg;
        --gradientStart: white;
        --gradientEnd: white;
        
        background: var(--gradientStart);
        background: -moz-linear-gradient(var(--gradientAngle), var(--gradientStart) 0%, var(--gradientEnd) 100%);
        background: -webkit-linear-gradient(var(--gradientAngle), var(--gradientStart) 0%, var(--gradientEnd) 100%);
        background: linear-gradient(var(--gradientAngle), var(--gradientStart) 0%, var(--gradientEnd) 100%);

        >img {
            max-width: 50%;
        }
    }
}