.card {
    $card_size: 25rem;
    $card_radius: 0.5rem;
    $space: 1.8rem;

    display: block;

    min-height: $card_size;
    max-width: $card_size;
    border-radius: $card_radius;

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);

    cursor: pointer;

    transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.33);
    }
    
    text-decoration: none;
    color: black;

    >div.card__info {
        display: flex;
        flex-direction: column;
        place-content: space-around;
        padding: 1rem;
        padding-bottom: 0.5rem;

        >div.card__title {
            display: flex;
            place-items: center;

            >span {
                margin-left: 1rem;
                opacity: 0.5;
                font-size: 1rem;
                font-weight: 500;
                font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        >div.card__badges{

            $badge-size: 2.1rem;

            display: flex;
            flex-wrap: wrap;
            height: $badge-size;
            overflow-y: hidden;

            margin-top: 0.5rem;

            >div.card__badge {
                font-weight: 600;
                margin-right: 0.5rem;
                
                --badge-text-color: "black";
                --badge-bg-color: "white";
                color: var(--badge-text-color);
                background-color: var(--badge-bg-color);

                height: $badge-size;

                $badge_padding: 5px;
                padding: $badge_padding;
                padding-left: calc(#{$badge_padding}*2);
                padding-right: calc(#{$badge_padding}*2);
                border-radius: 5rem;
            }
        }
    }

    >div.card__gradient {
        width: 100%;
        min-height: calc(#{$card_size}*0.75);

        border-top-left-radius: $card_radius;
        border-top-right-radius: $card_radius;

        display: flex;
        place-content: center;
        place-items: center;

        --gradientAngle: 45;
        --gradientStart: white;
        --gradientEnd: white;

        background: var(--gradientStart);
        background: -moz-linear-gradient(var(--gradientAngle), var(--gradientStart) 0%, var(--gradientEnd) 100%);
        background: -webkit-linear-gradient(var(--gradientAngle), var(--gradientStart) 0%, var(--gradientEnd) 100%);
        background: linear-gradient(var(--gradientAngle), var(--gradientStart) 0%, var(--gradientEnd) 100%);
    }
}